source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none

nuget FSharp.Core
nuget Newtonsoft.Json
nuget Microsoft.AspNetCore 
nuget Microsoft.AspNetCore.Hosting 
nuget Microsoft.AspNetCore.Http 
nuget Microsoft.AspNetCore.Mvc 
nuget Microsoft.AspNetCore.SignalR 
nuget Elmish

nuget Blazor.Extensions.Logging 

nuget Microsoft.Extensions.DependencyModel 
nuget System.Runtime.Loader

nuget FSharp.Json

nuget BlazorSignalR prerelease
nuget Microsoft.AspNetCore.Server.Kestrel 
nuget Microsoft.AspNetCore.SignalR.Client 


nuget Microsoft.AspNetCore.Components.WebAssembly
nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget Bolero >= 0.22.0
nuget Bolero.Build >= 0.22.0

nuget Argu
nuget FcsWatch.Core
nuget FcsWatch.Binary

nuget FsCheck.Xunit
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio



#nuget Elmish.HotReload

nuget Dotnet.ProjInfo
